@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-taupe: #B2A59F;
    --color-space: #023459;
    --color-turquoise: #1E646E;
    --color-gray: #002C2F;
    --color-pink: #E3A6A1;
    --color-teal: #034B61;
}

main {
    color: rgb(241, 241, 35);
}

h1 {
    font-size: 45px;
    padding: 15px;
}

h3 {
    padding: 15px;
    font-size: 20px;
    font: bolder;
    color:antiquewhite;
}


section>h1 {
    padding-top: 70px;
    color: var(--color-space);
    display: flex;
    justify-content: center;
}

.images>img {
    width: 15%;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 15px;
}

.students{
    background-color: rgba(99, 166, 254, 0.4);
    background-blend-mode: multiply;
}

.teacher{
    background-color: rgba(45, 123, 226, 0.4);
    background-blend-mode: multiply;
}

.gallery{
    background-color: rgba(60, 110, 176, 0.557);
    background-blend-mode: multiply;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 320px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.front-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: rgb(41, 83, 155);
    color: rgb(241, 241, 35);
}

.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background:rgb(232, 232, 125);
    color: rgb(41, 83, 155);
    text-align: center;
    transform: rotateY(180deg);
}

.back-side>h1 {
    font-size: 23px;
    text-align: center;
}

.cover>img {
    width: 140px;
    height: 170px;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.name {
    font-size: 27px;
    text-align: center;
    padding: 5px;
}

.tag {
    font-size: 16px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: cursive;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-space);
    opacity: 0.9;
    align-items: center;
    padding-inline: 16px;
    padding-block: 8px;
}

.logo img {
    height: 30px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(224, 224, 40);
    font-size: 20px;
}

.menu a:hover {
    color: var(--color-taupe);
}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: transparent;
    border: none
}

.menu-icon:hover>.bar {
    background-color: var(--color-taupe);
}

.menu-items {
    list-style-type: none;
    position: absolute;
    top: 52px;
    right: 0px;
    text-align: center;
    background-color: var(--color-teal);
    padding: 10px;
}

.menu-items>li,
a {
    color: var(--color-taupe);
    text-decoration: none;

}

.menu-items>li {
    padding: 4px 8px;
}

.menu-items>li>a:hover {
    color: rgb(217, 217, 52);
}

.bar {
    border-radius: 5px;
    background-color: rgb(231, 231, 41);
    height: 4px;
    width: 24px;
}

.right-column>img {
    width: 100%;
    border-radius: 40px;
    animation-name:fade;
    animation-duration: 2s;
}

.home-page {
    position: relative;
    display: flex;
    padding-top: 70px;
    height: 100vh;
    gap: 64px;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 32px;
    overflow: hidden;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/slikapraksa.jpg');
    background-size: cover;
    filter: blur(10px);
    background-color: rgba(59, 79, 105, 0.4);
    background-blend-mode: multiply;
}



.login-btn {
    background-color:rgb(250, 250, 37);
    border-radius: 40px;
    padding-block: 8px;
    padding-inline: 16px;
    margin-top: 16px;
    font-weight: 500;
    color: var(--color-space);
    border: none;
    width: 250px;
}

.login-btn:hover {
    cursor: pointer;
    box-shadow: 1px 6px 14px 3px rgb(202, 202, 49);
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    z-index: 90;
}

.left-column {
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 1;
}

footer {
    background-color: var(--color-teal);
    display: flex;
    justify-content: space-around;
    gap: 6px;
    align-items: start;
    padding-top: 16px;
}

footer ul {
    color: var(--color-taupe);
    list-style-type: none;
}

footer ul li a {
    color: var(--color-taupe);
    text-decoration: none;
}

footer hr {
    border: 1px solid var(--color-pink);
}

footer p {
    color: var(--color-taupe);
}

iframe {
    width: 20%;
    height: 30%;
    border-radius: 6px;
}

@media (width <=576px) {
    footer {
        flex-direction: column;
    }

    .home-page {
        flex-direction: column-reverse;
        width: 90%;
        height: fit-content;
        padding-bottom: 16px;

    }

    .left-column {
        align-items: center;
    }

    nav {
        flex-direction: column;
    }

    iframe {
        width: 95%;
    }
}

.gallery h1{
    color:var(--color-space);
}

* {box-sizing:border-box}

.slideshow-container {
    max-width:fit-content;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    height: 66vh;
    width: auto;
    position: relative;
    border: 1px solid rgb(41, 83, 155);
    background-color: rgb(41, 83, 155);
    border-radius: 6px;
  }

  .mySlides>img{
    position: relative;
    height: 85%;
    margin: 6px;
    border-radius: 6px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }

  .prev{
    left: 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color:rgb(186, 186, 71);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: rgb(186, 186, 71);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }